/* PNG -> poco compacto, mantiene la calidad, tam: 29.6KB
JPG -> muy compacto, la imagen es inferior en calidad, tam: 9,29 KB
GIF -> calidad baja, uso limitado, tam: 199KB (depende de la calidad)
SVG -> imagenes vectoriales en dos dimensiones, más leve, tam: 4.26 KB
       se usa en logotipos, íconos, ilustraciones sencillas.
*/

.head {
    color: #FFFFFF;

    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: .75rem;
    padding-bottom: .75rem;

    border-bottom: 1px solid #103D4A;

    position: absolute;
}

.head__logo {
    margin-bottom: 1rem;
}

.head__navegacion {
    text-align: center;
}

.head__enlace {
    font-size: 1.1rem;

    display: inline-block;

    margin-right: .7rem;
    margin-bottom: .7rem;
    margin-left: .7rem;
}
