.llamada  {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #FFFFFF;
    text-align: center;

    background-color: #00161C;

/*REM es una unidad relativa a la propiedad font-size de la etiqueta
, por lo tanto si la etiqueta tiene 16px de font-size 1 REM equivale
a 16px. EM es relativa a la propiedad font-size de la etiqueta madre,
por lo tanto, si la etiqueta madre es un font-size de 16px, 1 EM
equivale a 16px.*/
    padding-top: 12.25rem;/*rem se adapta automáticamente a tamaños y espacios*/
    padding-bottom: 2.5rem;
}

.llamada__titulo {
    font-family: var(--montserrat);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;

    margin-bottom: 1.5rem;
}

.llamada__texto {
    font-size: 1.25rem;
    line-height: normal;

    margin: 0 auto 2.5rem;
}

.llamada__boton {
    width: 100%;
}
