/*Documentación de Flexbox
css.tricks.com/snippets/css/a-guide-to-flexbox/

flex container: justify-content, align-items, flex-direction, flex-wrap, display: flex,
flex items:
order, flex-grow, flex-shrink

flex: flex-grow, flex-shrink, flex-basis
flex-flow: flex-direction flex-wrap

encabezado*/
.headerPrincipal .container
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerPrincipal-nav
{
  display: flex;
}
/*Pie de página*/
.rodapePrincipal-patrocinadores .container
{
  display: flex;
  justify-content: space-between;
}
.rodapePrincipal-patrocinadores-list
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin-right: 5%;
}
.rodapePrincipal-contatoForm
{
  width: 25%;
}
.rodapePrincipal-contatoForm-fieldset
{
    display: flex;
}
.rodapePrincipal-navMap-list
{
  display: flex;
  flex-direction: column;/*indicar uno debajo de otro*/
  height: 250px;
  flex-wrap: wrap; /*cuando llegue a 250px, quebra la columna y empieza la siguiente col*/
}
/*contenido*/
.contenidoPrincipal-cursos
{
  display: flex;
  flex-wrap: wrap;
}
.contenidoPrincipal-cursos-link
{
  display: flex;
  width: 23%;
}
.videoSobre .container
{
  display: flex;
}
.videoSobre-sobre
{
  text-align: center;
  display: flex;
  flex-direction: column;
}
.videoSobre-video
{
  flex-grow: 2; /*crecer el área, distribuyendo los espacios*/
  flex-shrink: 2;/*conforme disminuya la pantalla, se reduce el vídeo 2 veces menor*/
}
.videoSobre-sobre-list
{
  flex-grow: 2; /*crear espacio entre elementos*/
}

/*Responsive*/
@media (max-width: 760px) {
    .headerPrincipal .container
    {
      flex-direction: column;
      align-items: initial;
      text-align: center;
    }
    .headerPrincipal-nav
    {
      flex-direction: column;
    }
    .contenidoPrincipal-cursos
    {
      flex-direction: column;
    }
    .contenidoPrincipal-cursos-link
    {
      width: 100%;
    }
    .rodapePrincipal-navMap-list
    {
      height: auto;
      flex-wrap: nowrap;
    }
    .rodapePrincipal-patrocinadores .container
    {
      flex-direction: column;
    }
    .rodapePrincipal-contatoForm
    {
        width: 100%;
    }
    .rodapePrincipal-patrocinadores-list
    {
      align-items: center;
      width: 100%;
      margin: 0;
    }
    .rodapePrincipal-contatoForm-fieldset
    {
      justify-content: center;
    }
    .headerPrincipal-nav-link-app
    {
      order: -1;/*Para ello debemos utilizar la propiedad order en nuestro
      flex ítem. Podemos utilizar cualquier valor menor que 0 para que
      nuestro flex ítem sea el primero.*/
    }
    .videoSobre .container
    {
      flex-direction: column;
    }
}
