header
{
  background-color: #bbb;
  padding: 20px 0;
}

.caja
{
  width: 940px;
  position: relative;
  margin: 0 auto; /*automatico en los bordes*/
}

/*posicion relative: puede mover su posicionamiento con su punto inicial fijo
posicion absolute: puede posicionar mi elemento en cualquier lugar de la página*/
nav
{
  position: absolute;
  top: 110px;
  right: 0;
}

nav li /*la propiedad se cambia en li*/
{
  display: inline; /*no quiero que ocupe el 100% de la página, sino de su contenido*/
  margin: 0 0 0 15px; /*espaciamiento hacia arriba, derecha, abajo, izquierda*/
}

nav a /*nos referimos en la parte de a en nav*/
{
    text-transform: uppercase;/*mayúsculas*/
    color: #000;
    font-weight: bold; /*strong -- negritas*/
    font-size: 22px;
    text-decoration: none;
}
