header
{
  background-color: #bbb;
  padding: 20px 0;
}

.caja
{
  width: 940px;
  position: relative;
  margin: 0 auto; /*automatico en los bordes*/
}

/*posicion relative: puede mover su posicionamiento con su punto inicial fijo
posicion absolute: puede posicionar mi elemento en cualquier lugar de la página*/
nav
{
  position: absolute;
  top: 110px;
  right: 0;
}

nav li /*la propiedad se cambia en li*/
{
  display: inline; /*no quiero que ocupe el 100% de la página, sino de su contenido*/
  margin: 0 0 0 15px; /*espaciamiento hacia arriba, derecha, abajo, izquierda*/
}

nav a /*nos referimos en la parte de a en nav*/
{
    text-transform: uppercase;/*mayúsculas*/
    color: #000;
    font-weight: bold; /*strong -- negritas*/
    font-size: 22px;
    text-decoration: none;
}

.productos
{
  width: 940px;
  margin: 0 auto;
  padding: 50px;
}

.productos li
{
  display: inline-block; /**puede ser ajustado tanto en largo como en la altura*/
  text-align: center;
  width: 30%;
  vertical-align: top;
  /*background: #ccc;*/
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box; /*el borde será el limite del espacio que
   será definido en el espacio interno*/
}

.productos h2
{
  font-size: 30px;
  font-weight: bold;
}

.descripcion
{
  font-size: 18px;
}

.precio
{
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
