/* COLORES HEXADECIMALES
  0 1 2 3 4 5 6 7 8 9 A B C D E
  #000000 --- negro
  #FFFFFF --- blanco

   COLORES RGB
   r r g g b b
   0 = menor
   255 = max
   rgb(0,0,0)
*/

p /*etiqueta parrafo*/
{
  text-align: center; /*alinear texto*/
  background: #ccc;
}

body /*todo el contenido dentro de body*/
{
  background: #ccc; /*color de fondo*/
}

em strong /*dale la propiedad a los que tienen las etiquetas em y strong*/
{
  color: red;/*texto*/
}
